Johannes Edenholm <edenholm@student.chalmers.se>
Johannes Edenholm <edenholm@chalmers.student.se>

Linus Berglund <belinus@student.chalmers.se>

Hugo Frost <fhugo@student.chalmers.se>
Hugo Frost <Hugo.Frost@infotiv.se>
Hugo Frost <fhugo@ju029-01.ju029.studat.rh69.ii.2.hb.s.cdal.chalmers.se>

Hamza Kadric <hamzak@student.chalmers.se>

Erik Källberg <kalerik@student.chalmers.se>

Johan Svennungsson <johsvenn@student.chalmers.se>

Rikard Teodorsson <rikardt@student.chalmers.se>
Rikard Teodorsson <hej2010@users.noreply.github.com>

Timmy Truong <timmyt@student.chalmers.se>

Arvid Wiklund <arvidwi@student.chalmers.se>

Karl Ängermark <karlang@student.chalmers.se>
